<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440739962569-6fl5qtcdmgv1rnedt4ghh035rcs09vqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440739962569-6fl5qtcdmgv1rnedt4ghh035rcs09vqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAIa8t9jJce4EocWdvbO8dapIFtctIEnFc</string>
	<key>GCM_SENDER_ID</key>
	<string>440739962569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.gov.dvsa.mobile-examiner-app</string>
	<key>PROJECT_ID</key>
	<string>dvsa-mes-test</string>
	<key>STORAGE_BUCKET</key>
	<string>dvsa-mes-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440739962569:ios:26955f8816064b95</string>
	<key>DATABASE_URL</key>
	<string>https://dvsa-mes-test.firebaseio.com</string>
</dict>
</plist>